<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Melding om deling av omsorgsdager</title>
    <meta name="subject" content="Melding om deling av omsorgsdager" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Melding om deling av omsorgsdager mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Samtykke" href="#samtykke" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">
    Melding om deling av omsorgsdager
</h1>
<p class="nokkelinfo">
    <strong>Sendt til NAV</strong>
    {{soknad_mottatt_dag}} {{ soknad_mottatt }}
</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        {{#if søker.relasjonTilBarnet}}
            <p>
                {{søker.relasjonTilBarnet}} til barnet.
            </p>
        {{/if}}
        <p class="navn">
            {{ søker.navn }}
        </p>
        <p>
            {{ søker.fødselsnummer }}<br />
        </p>
    </div>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke</h2>
        <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr />
        <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>
</div>


<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>