<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8" />
    <title>Melding om deling av omsorgsdager</title>
    <meta name="subject" content="Melding om deling av omsorgsdager" />
    <meta name="author" content="nav.no" />
    <meta name="description"
          content="Melding om deling av omsorgsdager mottatt {{soknad_mottatt_dag}} {{ soknad_mottatt }}" />
    <bookmarks>
        <bookmark name="Søker" href="#søker" />
        <bookmark name="Samtykke" href="#samtykke" />
        <bookmark name="Har aleneomsorg" href="#aleneomsorg" />
        <bookmark name="Har utvidet rett" href="#utvidetRett" />
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">
    Melding om deling av omsorgsdager
</h1>
<p class="nokkelinfo">
    <strong>Sendt til NAV</strong>
    {{soknad_mottatt_dag}} {{ soknad_mottatt }}
</p>

<div class="innholdscontainer">
    <div class="person" id="søker">
        <p class="navn">
            {{ søker.navn }}
        </p>
        <p>
            {{ søker.fødselsnummer }}<br />
        </p>
    </div>

    <!-- ANDRE_BARN -->
    <section>
        <h2>Andre barn</h2>

    </section>

    <!-- ALENEOMSORG -->
    <section id="aleneomsorg">
        <h2>Aleneomsorg</h2>
        <p class="sporsmalstekst">Har aleneomsorg?</p>
        <p >{{ jaNeiSvar harAleneomsorg }}</p>
        {{#if harAleneomsorg}}
            {{#each harAleneomsorgFor as | barn|~}}
                <ul>
                    <li>
                        <p class="navn">{{barn.navn}}, ({{barn.fødselsdato}}) </p>
                    </li>
                </ul>
            {{/each}}
        {{/if}}
    </section>

    <!-- UTVIDET_RETT -->
    <section id="utvidetRett">
        <h2>Aleneomsorg</h2>
        <p class="sporsmalstekst">Har utvidet rett?</p>
        <p >{{ jaNeiSvar harUtvidetRett }}</p>
        {{#if harUtvidetRett}}
            {{#each harUtvidetRettFor as | barn|~}}
                <ul>
                    <li>
                        <p class="navn">{{barn.navn}}, ({{barn.fødselsdato}}) </p>
                    </li>
                </ul>
            {{/each}}
        {{/if}}
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke</h2>
        <p class="sporsmalstekst">Har forstått rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr />
        <p class="sporsmalstekst">Har bekreftet opplysninger?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>
</div>


<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ soknad_id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>